{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}
{#
Most of this is copied from front-page. Take that these files stay in sync!
#}
{% set le_region_key = path('<current>')|replace({'/':''}) %}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if name and not page %}
    <h2><a href="{{ url }}">Willkommen im Leipziger {{ name }}</a></h2>
  {% endif %}
  {{ title_suffix }}

  {% if content.description is not empty %}
    <div class="content text-center">
      {{ content.description }}
    </div>
  {% endif %}

    <div class="map-frontpage row">
        {{ drupal_view('frontpage', 'block_1', le_region_key) }}
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="/akteure?stadtteil_id={{ term.id }}" title="Zur Akteursübersicht">
              <h2 class="front-heading">Akteure</h2>
            </a>
            {{ drupal_view('frontpage', 'page_1', le_region_key) }}
        </div>
        <div class="col-md-4">
            <a href="/events?stadtteil_id={{ term.id }}" title="Zur Eventsübersicht">
              <h2 class="front-heading">Events</h2>
            </a>
            {{ drupal_view('frontpage', 'page_2', le_region_key) }}
        </div>
        <div class="col-md-4">
            <a href="/journal?stadtteil_id={{ term.id }}" title="Zum Journal">
              <h2 class="front-heading">Journal</h2>
            </a>
            {{ drupal_view('frontpage', 'page_3', le_region_key) }}
        </div>
    </div>
</div>