{{ attach_library('le_admin/tailwind') }}
{% set destination = get_destination() %}
{% set akteure = drupal_view_result('le_verwaltete_akteure', 'dashboard', user.id) %}

<h2>{{ 'Deine Akteur*innen'|t }}</h2>

<div class="divide-y-2 divide-gray-200">
  <div class="py-4">
    <p class="text-gray-500">
      {{ 'TODO: Kurzer Text, der erklärt was für eine Rolle Akteur*innen in den Leipziger-Ecken haben.'|t }}
    </p>
  </div>
{% if akteure|length %}
{% for row in akteure %}
  <div class="py-4 flex space-x-10">
    <div>
      {{ drupal_entity('node', row.node_field_data_users_field_data_nid, 'backend_teaser') }}

      <a class="text-gray-600 hover:text-gray-700 hover:underline mx-2" href="{{ drupal_url('/user/akteur/' ~ row.node_field_data_users_field_data_nid ~ '/contents') }}">
        {{ 'Inhalte verwalten'|t }}
      </a>

      <a class="text-gray-600 hover:text-gray-700 hover:underline mx-2" href="{{ drupal_url('/user/akteur/' ~ row.node_field_data_users_field_data_nid ~ '/webbuilder') }}">
        {{ 'Webbaukasten'|t }}
      </a>
    </div>
    <div>
      <a class="button button--default button--small mt-0" href="{{ drupal_url('/node/' ~ row.node_field_data_users_field_data_nid ~ '/edit', {query: {destination: destination }}) }}">
        {{ 'Akteur bearbeiten'|t }}
      </a>
    </div>
  </div>
{% endfor %}
{% else %}
  <p class="pt-4">
    {{ 'Du hast noch keine Akteur*innen erstellt.'|t }}
  </p>
{% endif %}
  <div class="py-4">
    <a class="button button--primary" href="{{ drupal_url('/node/akteur/add', {query: {destination: destination }}) }}">
      {{ 'Akteur*in hinzufügen'|t }}
    </a>
  </div>
</div>
