{{ attach_library('le_admin/tailwind') }}
{{ attach_library('le_admin/webbuilder_pages') }}
{% set destination = get_destination() %}

<section 
  data-role="webbuilder-pages" 
  data-webbuilder="{{ node.id() }}"
  data-destination="{{ destination }}"
>
  {{ include('@le_admin/partials/page_introduction.html.twig', {
    body: 'Manage the page structure and the contents of your website.'|t,
  }) }}

  {{ include('@le_admin/partials/primary_action_button.html.twig', {
    url: drupal_url('/node/add/webbuilder_page', {query: {destination: destination, webbuilder: node.id() }}),
    attributes: 'data-role="webbuilder-add-page"',
    label: '+ ' ~ ('Add Page'|t)
  }) }}
  
  {{ include('@le_admin/partials/previewable_item_list.html.twig', {
    items: '<ul data-role="webbuilder-page-tree" data-webbuilder="{{ node.id() }}"></ul>',
  }) }}
</section>
