{{ attach_library('le_admin/tailwind') }}
{% set destination = get_destination() %}
{% set akteure = drupal_view_result('le_verwaltete_akteure', 'dashboard', user.id) %}

<section>
  {% if user.hasPermission('create le_akteur content') %}
  {{ include('@le_admin/partials/page_introduction.html.twig', {
    body: 'TODO: Short description what actors are.'|t,
  }) }}

  {{ include('@le_admin/partials/primary_action_button.html.twig', {
    url: drupal_url('/node/add/le_akteur', {query: {destination: destination }}),
    label: '+ ' ~ ('Add Actor'|t)
  }) }}
  {% endif %}

  {% if akteure|length %}
  {% for row in akteure %}
  {{ drupal_entity('node', row.node_field_data_users_field_data_nid, 'backend_teaser') }}
  {% endfor %}
  {% else %}
  <p class="pt-4">
    {{ 'You have not created any actors yet.'|t }}
  </p>
  {% endif %}
</section>
