{{ attach_library('le_admin/tailwind') }}
{% set destination = get_destination() %}
{% set blog_articles = drupal_view('blog', 'dashboard', node.id()) %}

<section>
  {{ include('@le_admin/partials/page_introduction.html.twig', {
    body: 'Write your own blog.'|t,
  }) }}

  {{ include('@le_admin/partials/primary_action_button.html.twig', {
    url: drupal_url('/node/add/blog_article', {query: {destination: destination, le_atkeur: node.id() }}),
    label: '+ ' ~ ('Add Blog Article'|t)
  }) }}

  {% if blog_articles %}
  {{ include('@le_admin/partials/previewable_item_list.html.twig', {
    items: blog_articles,
  }) }}
  {% else %}
  <p class="pt-4">
    {{ 'You have not created any blog articles yet.'|t }}
  </p>
  {% endif %}
</section>