{{ attach_library('le_admin/tailwind') }}
{% set destination = get_destination() %}
{% set webbuilders = drupal_view_result('webbuilders', 'dashboard', node.id) %}

<section>
  {{ include('@le_admin/partials/page_introduction.html.twig', {
    body: 'Easily create your own website featuring all your above content.'|t,
  }) }}

  {% if webbuilders|length %}
  {{ drupal_view('webbuilders', 'dashboard', node.id) }}
  {% else %}
  <p class="pt-4">
    {{ 'You have not created your website yet.'|t }}
  </p>
  <p class="pt-4">
    {{ 'Please choose from a template below to start.'|t }}
  </p>

  {{ drupal_view('webbuilders', 'dashboard_presets') }}
  {% endif %}
</div>
