{{ attach_library('le_admin/tailwind') }}
{% set destination = get_destination() %}
{% set webbuilder_pages = drupal_view_result('webbuilder_pages', 'dashboard', node.id) %}

<h2>{{ 'Seite des Webbaukastens: :label'|t({':label': node.title[0].value}) }}</h2>

<div class="divide-y-2 divide-gray-200">
  <div class="py-4">
    <p class="text-gray-500">
      {{ 'TODO: Kurzer Text, der erklärt was für eine Rolle Seiten im Webbaukasten haben.'|t }}
    </p>
  </div>
  {% if webbuilder_pages|length %}
  {{ drupal_view('webbuilder_pages', 'dashboard', node.id) }}
  {% else %}
  <p class="pt-4">
    {{ 'Du hast noch keinen Seiten erstellt.'|t }}
  </p>
  {% endif %}
  <div class="py-4">
    <a class="button button--primary"
      href="{{ drupal_url('/node/add/webbuilder_page', {query: {webbuilder: node.id, destination: destination }}) }}">
      {{ 'Seite erstellen'|t }}
    </a>
  </div>
</div>
