{{ attach_library('le_admin/tailwind') }}
{% set destination = get_destination() %}
{% set projects = drupal_view('projects', 'dashboard', node.id()) %}

<section>
  {{ include('@le_admin/partials/page_introduction.html.twig', {
    body: 'Show your projects to the world.'|t,
  }) }}

  {{ include('@le_admin/partials/primary_action_button.html.twig', {
    url: drupal_url('/node/add/project', {query: {destination: destination, le_atkeur: node.id() }}),
    label: '+ ' ~ ('Add Project'|t)
  }) }}

  {% if projects %}
  {{ include('@le_admin/partials/previewable_item_list.html.twig', {
    view: projects,
  }) }}
  {% else %}
  <p class="pt-4">
    {{ 'You have not created any projects yet.'|t }}
  </p>
  {% endif %}
</section>