<div{{ attributes }}>
  <div class="container-inline parts">
    <div class="parts--part">{{ widget.mode }}</div>
    <div class="parts--part parts--daily-count">{{ widget.daily_count }}</div>
    <div class="parts--part parts--ordinals">{{ widget.ordinals }}</div>
    <div class="parts--part parts--weekdays">{{ widget.weekdays }}</div>
  </div>
  <div class="parts dates">
    <div class="date parts--part container-inline">{{ widget.day_start }}{{ widget.time_zone }}</div>
    <div class="date parts--part parts--times">
      {% if widget.is_all_day|render|striptags|trim is not empty %}
        <div class="parts--is-all-day">{{ widget.is_all_day }}</div>
      {% endif %}
      <div class="container-inline">{{ widget.times }}</div>
    </div>
  </div>
</div>
