<div class="ends">
  <div class="ends-row">
    <div class="ends-row-label">{{ form.ends_mode.infinite }}</div>
  </div>
  <div class="ends-row">
    <div class="ends-row-label">{{ form.ends_mode.date }}</div>
    <div class="ends-row-field">{{ form.ends_date }}</div>
  </div>
  <div class="ends-row">
    <div class="ends-row-label">{{ form.ends_mode.count }}</div>
    <div class="ends-row-field">{{ form.ends_count }}</div>
  </div>
</div>
