{% set node_type = node.getType() %}
{% set image = content.field_main_image_legacy[0] | default(content.field_main_image[0]) %}
{% set url = webbuilder_url(webbuilder_id(), 'le_webbuilder.node.' ~ node_type, {
  node: node.id(),
  destination: get_destination(),
}) %}
<article class="grid gap-8 grid-cols-1 sm:grid-cols-2 bg-primary-100">
  {% if image %}
  <figure class="relative col-span-1">
    <a href="{{ url }}" class="relative block w-full bg-white overflow-hidden focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
      {{ include('@leipzigerEckenWebbuilder/partials/components/media_image.html.twig', {
        class: 'w-full aspect-square object-cover',
        image: image,
        width: 1280,
        image_style: 'webbuilder_teaser',
      }) }}
    </a>
  </figure>
  {% else %}
  <div class="col-span-1"></div>
  {% endif %}
  <div class="col-span-1 {{ webbuilder_layout_styles().text.prose }} py-8">
    {{ node_type == 'le_event' ? content.field_le_event_occurrences : content.published_at|default(node.created_at) }}
    <h2 class="mt-4">
      <a href="{{ url }}" class="text-black no-underline">
        {{ label }}
      </a>
    </h2>

    {% if node_type == 'le_event' %}
    {{ content.field_le_event_beschreibung }}
    {% else %}
    {{ content.field_body | default(content.field_description) | default(content.body) }}
    {% endif %}

    <a href="{{ url }}" class="text-sm text-blue-600 hover:underline">
      {{ 'Read more'|t }}&thinsp;…
    </a>
  </div>
</article>
