{% set node_type = node.getType() %}
{% set image = content.field_main_image_legacy[0] | default(content.field_main_image[0]) %}
{% set url = webbuilder_url(webbuilder_id(), 'le_webbuilder.node.' ~ node_type, {
  node: node.id(),
  destination: get_destination(),
}) %}
<article class="bg-primary-100">
  {% if image %}
  <figure class="relative w-full lg:max-w-md">
    <a href="{{ url }}" class="relative block w-full bg-white overflow-hidden focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
      {{ include('@leipzigerEckenWebbuilder/partials/components/media_image.html.twig', {
        class: 'w-full h-64 object-cover',
        image: image,
        width: 610,
        image_style: 'webbuilder_teaser',
      }) }}
    </a>
  </figure>
  {% endif %}
  <div class="p-4 md:p-8 {{ webbuilder_layout_styles().text.prose }}">
    {{ node_type == 'le_event' ? content.field_le_event_occurrences : content.published_at|default(node.created_at) }}
    <h2 class="mt-4">
      <a href="{{ url }}" class="text-black no-underline">
        {{ label }}
      </a>
    </h2>
    {% if node_type == 'le_event' %}
    {{ content.field_le_event_beschreibung }}
    {% else %}
    {{ content.field_body | default(content.field_description) | default(content.body) }}
    {% endif %}
    <p>
      <a href="{{ url }}" class="text-sm text-blue-600 hover:underline">
        {{ 'Read more'|t }}&thinsp;…
      </a>
    </p>
  </div>
</article>
