<div class="sm:flex mb-16">
  <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4 w-16">
    <img src="{{ img_src }}" alt="{{ 'Pages'|t }}">
  </div>
  <div>
    <p class="mt-1 text-gray-500 mb-2">
      {{ description }}
    </p>
    <a class="link font-bold"
      href="{{ link_url }}">
      {{ link_label }}
    </a>
  </div>
</div>