{% set destination = get_destination() %}
<article class="flex border-b space-x-10">
  <div class="mr-4 w-96">
    <h3 class="text-lg font-bold mt-0">
      {{ label }}
      <br/>
      {% if node.status[0].value == '0' %}
      <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800">
        {{ 'nicht veröffentlicht'|t }}
      </span>
      {% else %}
      <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
        {{ 'veröffentlicht'|t }}
      </span>
      {% endif %}
    </h3>
    <a class="button button--default button--small mt-0" href="{{ drupal_url('/node/' ~ node.id() ~ '/edit', {query: {destination: destination }}) }}">
      {{ 'Seite bearbeiten'|t }}
    </a>
  </div>
  <div class="text-sm mb-4 w-32">
    {{ 'Sortierung'|t }}: {{ content.field_weight[0]['#markup'] }}
  </div>
  {% if content.field_navigation[0] %}
  <div class="text-sm mb-4">
    {{ 'Erscheint in Navigation'|t }}:
    <div class="text-gray-500">
      {{ content.field_navigation }}
    </div>
  </div>
   {% endif %}
</article>
