{% if not layout_is_in_webbuilder %}
{{ attach_library('leipzigerEckenWebbuilder/' ~ font_heading) }}
{{ attach_library('leipzigerEckenWebbuilder/' ~ font_body) }}
<div class="root" style="--color-primary-h: {{ color_primary_hsl[0] }}; --color-primary-s: {{ color_primary_hsl[1] }}%; --color-primary-l: 50%; --font-heading: '{{ font_heading }}'; --font-body: '{{ font_body }};'">
{% endif %}
  <header>
    {{ include('@leipzigerEckenWebbuilder/partials/layout/default/navigation.html.twig') }}
    {{ include('@leipzigerEckenWebbuilder/partials/layout/default/header.html.twig') }}
    <section class="container mx-auto px-4 sm:px-6 lg:px-8">
      {{ drupal_block('system_messages_block') }}
    </section>
    <section class="container mx-auto px-4 sm:px-6 lg:px-8 flex justify-end space-x-10">
      {{ drupal_block('local_actions_block') }}
    </section>
  </header>
  <main id="main">
    {% block content %}
    {% endblock %}
  </main>

  {{ include('@leipzigerEckenWebbuilder/partials/layout/default/footer.html.twig') }}
{% if not layout_is_in_webbuilder %}
</div>
{% endif %}
