{% set image = content.field_image[0] %}
{% set image_alignment = content.field_image_alignment[0]['#markup'] %}
{% block paragraph %}
<section class="overflow-hidden {{ webbuilder_classes.margin.b_md }}">
  <div class="relative {{ webbuilder_classes.container.md }} {{ webbuilder_classes.padding.x_md }}">
    {% if content.field_pre_heading[0] or content.field_heading[0] %}
    <div class="mx-auto text-base max-w-prose lg:max-w-none">
      <h2>
        {% if content.field_pre_heading[0] %}
        <span class="block mb-2 {{ webbuilder_classes.text.pre_heading }}">
          {{ content.field_pre_heading[0] }}
        </span>
        {% endif %}
        {% if content.field_heading[0] %}
        <span class="block {{ webbuilder_classes.text.h2 }}">
          {{ content.field_heading[0] }}
        </span>
      {% endif %}
      </h2>
    </div>
    {% endif %}
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:row-start-1 {{ image_alignment == 'right' ? 'lg:col-start-2' : 'lg:col-start-1' }}">
        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          {% if image %}
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              {{ include('@leipzigerEckenWebbuilder/partials/components/media_image.html.twig', {
                image: image,
                class:'rounded-lg shadow-lg object-cover object-center mb-2',
                image_style: 'webbuilder_text_image',
                width: 1184,
              }) }}
            </div>

            {# Unsplash images always require attribution #}
            {% if image['#media'].field_attribution or content.field_image_caption[0] %}
            <figcaption class="{{ webbuilder_classes.text.figcaption }}">
              {# TODO: find a way to correctly render attribution field #}
              {{ image['#media'].field_attribution[0].value|raw }}
              {{ content.field_image_caption }}
            </figcaption>
            {% endif %}
          </figure>
          {% endif %}
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="{{ webbuilder_classes.text.prose }} mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">
          {{ content.field_body }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock paragraph %}
