{% extends "page.html.twig" %}
{#
As we only want to override the content-container on front page without copying the other
parts (e.g. header, footer), we extend page.html.twig.
@see https://befused.com/drupal/extend-twig-templates
#}
{% block main %}
<div class="container">
  <div role="main" class="main-container js-quickedit-main-content col-md-12">
      <div class="row">
          {# Header #}
          {% if page.header %}
            {% block header %}
                {{ page.header }}
            {% endblock %}
          {% endif %}

          <div class="welcome">
            <h1 class="page-header">Eine Stadtteilplattform für Nachbarschaften und Dings*</h1>
            
            {{ drupal_block('system_messages_block') }}

            <div class="content text-center">
              <p>*z.B. Vereine, Initiativen, Kulturschaffende, Künstler*innen, Verantstalter*innen und mehr.</p>

              <a href="/leipziger-ecken-das-projekt" class="btn btn-default" title="Mehr über das Projekt Leipziger Ecken erfahren">
                  Mehr erfahren
              </a>
              {% if logged_in %}
              <a href="/akteure/neu" type="button" class="btn btn-default">
                  Akteur anlegen
              </a>
              {% else %}
              <a href="/user/login?destination=akteure/neu" type="button" class="btn btn-default">
                  Einloggen &amp; Akteur anlegen
              </a>
              {% endif %}
            </div>
          </div>
      </div>

      <div class="map-frontpage row">
          {{ drupal_view('frontpage', 'block_1') }}
      </div>

      <div class="row">
          <div class="col-md-4">
              <a href="/akteure" title="Zur Akteursübersicht">
                <h2 class="front-heading">Akteure</h2>
              </a>
              {{ drupal_view('frontpage', 'page_1') }}
          </div>
          <div class="col-md-4">
              <a href="/events" title="Zur Eventsübersicht">
                <h2 class="front-heading">Events</h2>
              </a>
              {{ drupal_view('frontpage', 'page_2') }}
          </div>
          <div class="col-md-4">
              <a href="/journal" title="Zum Journal">
                <h2 class="front-heading">Journal</h2>
              </a>
              {{ drupal_view('frontpage', 'page_3') }}
          </div>
      </div>
  </div>
</div>
{% endblock %}
