{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
  <nav class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0 mt-8">
    <div class="-mt-px w-0 flex-1 flex">
      {% if items.previous %}
      <a
        href="{{ items.previous.href }}"
        class="border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
        <!-- Heroicon name: solid/arrow-narrow-left -->
        {{ include('@leipzigerEckenWebbuilder/partials/icons/solid_arrow-narrow-left.html.twig', {
          class: 'mr-3 h-5 w-5 text-gray-400'
        }) }}
        {{ items.previous.text|default('Previous'|t) }}
      </a>
      {% endif %}
    </div>
    <div class="hidden md:-mt-px md:flex">
      {% if ellipses.previous %}
      <span class="border-transparent text-gray-500 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">
        ...
      </span>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
      <a
        href="{{ item.href }}"
        class="{{ current == key ? 'border-primary text-primary-600' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300' }} border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium"
        {% if current == key %}aria-current="page"{% endif %}
      >
        {{- key -}}
      </a>
      {% endfor %}
      {% if ellipses.next %}
      <span class="border-transparent text-gray-500 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">
        ...
      </span>
      {% endif %}
    </div>
    <div class="-mt-px w-0 flex-1 flex justify-end">
      {% if items.next %}
      <a
        href="{{ items.next.href }}"
        class="border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300"
      >
        {{ items.next.text|default('Next'|t) }}
        <!-- Heroicon name: solid/arrow-narrow-right -->
        {{ include('@leipzigerEckenWebbuilder/partials/icons/solid_arrow-narrow-right.html.twig', {
          class: 'ml-3 h-5 w-5 text-gray-400',
        }) }}
      </a>
      {% endif %}
    </div>
  </nav>
{% endif %}
