<section id="banner" class="style{{ random(1,6) }}">
    <div class="inner">
        {{ drupal_breadcrumb() }}

        <span class="image">
            {{ content.field_le_event_image }}
        </span>
        
        <header class="major">
            {% if label %}
                <h1>{{ label }}</h1>
            {% endif %}
        </header>

        <div class="row">
                <div class="col-4 col-6-medium">
                    {{ content.field_le_event_bezirk }}
                </div>
                <div class="col-4 col-6-medium">
                    {{ content.field_le_event_kategorie_typ }}
                    {{ content.field_le_event_kategorie_subtyp }}
                </div>
                <div class="col-4 col-6-medium">
                    {{ content.field_le_event_kategorie_tags }}
                </div>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h2>Das Event</h2>
            </header>
            
            {{ content.field_le_event_beschreibung }}
        </div>
    </section>

    <section id="akteur-events" style="background-color:#2e3450;">
        <div class="inner">
            <div class="row">
                <div class="col-7">
                    <header class="major">
                        <h2>Termine</h2>
                    </header>

                    {{ content.field_le_event_occurrences }}
                </div>

                <div class="col-5 akteur-container" style="width:40%;">
                    <header class="major" style="display:none;">
                        <h2>Akteur</h2>
                    </header>
                    
                    {{ content.og_audience }}
                </div>
            </div>

        </div>
    </section>

    <!-- Contact -->
    <!-- @todo If no geodata: Make second container full width -->
    <section id="contact">
        <div class="row">
            <section class="col-6">
                {{ content.field_le_event_geofield }}
                <iframe
                    id="map-wrapper"
                    frameborder="0" 
                    scrolling="no" 
                    marginheight="0" 
                    marginwidth="0" 
                    src="http://www.openstreetmap.org/export/embed.html?bbox=79.84933018684386%2C6.90329331805479%2C79.85746264457703%2C6.908917042549519&marker=6.906105188659279%2C79.85339641571045&layers=ND">
                </iframe>
            </section>

            <section class="col-6 split">
                <section>
                    <div class="contact-method">
                        <span class="icon solid alt fa-home"></span>
                        <h3>Adresse</h3>
                        {{ content.field_le_event_adresse }}
                        {{ content.field_le_event_is_barrier_free }}
                    </div>
                </section>
            </section>
        </div>
    </section>
</div>