{% set eventsView = drupal_view('le_view_akteur_has_events', 'page_1', node.id)|render  %}
{% set privateAkteur = node.field_le_akteur_is_private.value == 1 %}
{% set isMember = akteur_user_membership_status is not empty %}
<!-- is Member = status is not empty -->
{% set isFullMember = isMember %}
<!-- is FullMember = status is not empty and is not status pending --><!--   -->
{% set isAdmin = false %}
<!-- @todo -->
<section id="banner" class="style{{ random(1,6) }}">
    <div class="inner">
        {{ drupal_breadcrumb() }}

        <span class="image">
            {{ content.field_le_akteur_image }}
        </span>
        
        <header class="major">
            {% if label %}
                <h1>{{ label }}</h1>
            {% endif %}
        </header>

        <div class="row">
                {% if node.field_le_akteur_bezirk.value is not empty %}
                <div class="col-3 col-6-medium">
                    {{ content.field_le_akteur_bezirk }}
                </div>
                {% endif %}
                <div class="col-3 col-6-medium">
                    {{ content.field_le_akteur_kategorie_typ }}
                    {{ content.field_le_akteur_kategorie_subtyp }}
                </div>
                {% if node.field_le_akteur_kategorie_tags.value is not empty %}
                <div class="col-3 col-6-medium">
                    {{ content.field_le_akteur_kategorie_tags }}
                </div>
                {% endif %}
                <div class="col-3 col-6-medium">
                    <div class="field__label">
                        Gruppe
                    </div>
                    <div class="field__item">
                        <a href="#group">
                            {{ akteur_members_count }} Mitglieder
                        </a>
                        {% if isMember %}
                        <br />(Du bist Mitglied)
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
    <section id="one">
        <div class="inner">
            {{ drupal_region('primary_tabs') }}

            <header class="major">
                <h2>Über den Akteur</h2>
            </header>

            {{ content.field_le_akteur_description }}
        </div>
    </section>

    <section id="akteur-events" style="background-color:#2e3450;">
        <div class="inner">
            <header class="major">
                <h2>Events</h2>
            </header>
            {%  if eventsView|striptags|trim %}
                {{ eventsView }}
            {% else %}
                <blockquote class="align-center">
                Dieser Akteur hat noch keine Veranstaltungen angelegt.
                </blockquote>
            {% endif %}
        </div>
    </section>

    <!-- Contact -->
    <!-- @todo If no geodata: Make second container full width -->
    <section id="contact">
        <div class="row">
            <section class="col-6">
                {{ content.field_geofield }}
            </section>

            <section class="col-6 split">
                {% if content.field_le_akteur_opening_times|render %}
                <section>
                    <div class="contact-method">
                        <span class="icon solid alt fa-clock"></span>
                        <h3>Öffnungszeiten</h3>
                        {{ content.field_le_akteur_opening_times }}
                    </div>
                </section>
                {% endif %}
                <section>
                    <div class="contact-method">
                        <span class="icon solid alt fa-phone"></span>
                        <h3>Kontakt</h3>
                        {{ content.field_le_akteur_email }}
                        {{ content.field_le_akteur_phone }}
                        {{ content.field_le_akteur_contactperson }}
                        {{ content.field_le_akteur_contactperson_fn }}
                        {{ content.field_le_akteur_url }}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon solid alt fa-home"></span>
                        <h3>Adresse</h3>
                        {{ content.field_le_akteur_adresse }}
                        {{ content.field_le_akteur_is_barrier_free }}
                    </div>
                </section>
            </section>
        </div>
    </section>

    <section id="group">
        <div class="inner row">
            <div class="col-4 col-12-medium akteur-members">
                <header class="major">
                    <h3>
                        <span class="icon solid alt fa-users"></span>
                        Mitglieder

                        <i class="badge">              
                          {{ akteur_members_count }}
                        </i>
                    </h3>
                </header>

                {% if privateAkteur and not isMember %}
                    <blockquote>Du kannst Inhalte von privaten Gruppen nur als Mitglied sehen.</blockquote>
                {% else %}
                    <!-- equivalent of drupal_view('og_members_overview', 'block_1', node.id) -->
                    {{ akteur_members }}

                    {% if isMember %}
                        <a href="/group/node/{{ node.id }}/admin/members" class="button fit">
                            Mitglieder verwalten
                        </a>
                        <br /><br />
                    {% endif %}
                {% endif %}

                <blockquote class="hidden">Du bist Mitglied/Administrator dieses Akteurs.</blockquote>

                <button class="button fit primary">
                {{ content.og_group }}
                </button>
            </div>

            <div class="col-7 col-12-medium akteur-talks" data-comments-count="{{ content.field_le_akteur_comments['#items'].comment_count }}">
                <header class="major">
                    <h3>
                        <span class="icon solid alt fa-comments"></span>
                        Gespräche
                        {% if not privateAkteur or isMember %}
                        <i class="badge">{{ content.field_le_akteur_comments['#items'].comment_count }}</i>
                        {% endif %}
                    </h3>
                </header>

                {% if privateAkteur and not isMember %}
                    <blockquote>Du kannst Inhalte von privaten Gruppen nur als Mitglied sehen.</blockquote>
                {% else %}
                    {{ content.field_le_akteur_comments }}
                {% endif %}
            </div>

        </div>
    </section>

</div>