<section
  class="{{ webbuilder_layout_styles().container.md }} {{ webbuilder_layout_styles().padding.x_md }} {{ webbuilder_layout_styles().margin.b_lg }}"
  data-role="paragraph"
>
  <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
    <div class="space-y-5 sm:space-y-4">
      {% if content.field_heading[0] %}
      <h2 class="{{ webbuilder_layout_styles().text.h2 }}">
        {{ content.field_heading }}
      </h2>
      {% endif %}
      {% if content.field_body[0] %}
      <div class="{{ webbuilder_layout_styles().text.prose }}">
        {{ content.field_body }}
      </div>
      {% endif %}
    </div>
    <div class="lg:col-span-2">
      {{ drupal_view('partners', 'webbuilder', akteur_id) }}
    </div>
  </div>
</section>
