{% set webbuilder_id = webbuilder_id() %}
{% set webbuilder_projects_page = drupal_field('field_projects_page', 'node', webbuilder_id)[0]['#plain_text'] %}
{{ include([
  '@leipzigerEckenWebbuilder/layouts/' ~ webbuilder_layout() ~ '/views/_listing.html.twig',
  '@leipzigerEckenWebbuilder/layouts/default/views/_listing.html.twig',
]) }}
{% if webbuilder_projects_page %}
<div class="ml-auto text-right {{ webbuilder_layout_styles().text.prose }} mt-16 {{ webbuilder_layout_styles().margin.b_sm }}">
  <a
    href="{{ drupal_url('/node/' ~ webbuilder_projects_page) }}"
    class="text-blue-600"
  >
    {{ 'Alle Projekte anzeigen'|t }}
  </a>
</div>
{% endif %}
